.myButton {
	-moz-box-shadow: 0px 1px 8px -17px #73b9e2;
	-webkit-box-shadow: 0px 1px 8px -17px #73b9e2;
	box-shadow: 0px 1px 8px -17px #73b9e2;
	background-color:#73b9e2;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:15px;
	font-weight:bold;
	padding:4px 24px;
	text-decoration:none;
	text-shadow:0px -1px 4px #5b6178;
}
.myButton:hover {
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}
