*{ margin:0; padding:0;}
body{ font-size:12px;}
em{ font-style:normal;}
.wrap{ padding:20px;}
.tooltip{ background:#eee; border:1px solid #ccc; padding:8px; border-radius: 5px;}
.tooltip{ position:absolute;}
.tooltip .tip,
.tooltip .in{ position:absolute; width:15px;font-size:16px; }
.tooltip .tip{ color:#ccc;}
.tooltip .in{ color:#eee;}

/*top*/
.tooltip .top{ top:-9px; /*active:left*/ left:10px;}
.tooltip .top .in{ top:1px; left:0;}

/*right*/
.tooltip .right{ right:-8px; /*active:top*/top:8px;}
.tooltip .right .in{ right:1px; top:0}

/*bottom*/
.tooltip .bottom{ bottom:-9px;/*active:left*/ left:10px;}
.tooltip .bottom .in{ bottom:1px; left:0;}

/*left*/
.tooltip .left{ left:-9px; /*active:top*/top:8px;}
.tooltip .left .in{ left:1px; top:0;}