/**
*Center-align a block level element
*@method .center-block()
*/
/**
*Center-align a block level element
*@method .inline-block() 
*/
/**
 * @class Less.typographymixins
 * @extends Less
 */
/**
  * load cisco font
  * @method .font-family-ciscoFont()
  */
/**
* serif font family
* @method .font-family-serif()
*/
/**
* sans-serif font family
*@method .font-family-sans-serif()
*/
/**
* monospace font family
*@method .font-family-monospace()
*/
/**
*@method .font(size: baseFontSize, weight: normal, lineHeight: baseLineHeight)
*/
/**
*Text overflow
*Requires inline-block or block for proper styling
*@method  .text-overflow()
*/
/**
*@method .text-overflow-ellipsis()
*/
/**
*@method .text-overflow-clip()
*/
/**
*@method .word-wrap()
*/
/**
 * @class Less.mixins
 * @extends Less
 */
/**
*@method .tab-focus()
*/
/**
* IE7 likes to collapse whitespace on either side of the inline-block elements.
* Ems because we're attempting to match the width of a space character. Left
* version is for form buttons, which typically come after other elements, and
* right version is for icons, which come before. Applying both is ok, but it will
* mean that space between those elements will be .6em (~2 space characters) in IE7,
* instead of the 1 space in other browsers.
*@method .ie7-restore-left-whitespace()
*/
/**
*@method .ie7-restore-right-whitespace()
*/
/**
* Sizing shortcuts
*@method .size(height: 5px, width: 5px) 
*/
/**
* Sizing shortcuts
*@method .square(size: 5px)
*/
/**
*Placeholder text
*@method 
*/
/**
*@method .gradientBar(primaryColor, secondaryColor)
*/
/**
 *     
 */
.preview iframe {
  width: 100%;
  min-height: 340px;
  border: 0px none;
}
.demo-controller-area .f-title-panel {
  -webkit-border-radius: 0px;

  border-radius: 0px ;
    border-top-width: 0px;
    margin-top: -1px;
    padding-top: 6px;

}
.f-label{
  width: 80px;
height: 20px;
}
